.colors-palette {
  display: flex;
  margin-left: 10px;
}

.colors-palette__item {
  height: 25px;
  width: 30px;
}

//Palette Green

.green1 {
  background-color: $dark-green-blue;
}
.green2 {
  background-color: $dirty-blue;
}
.green3 {
  background-color: $hospital-green;
}

//Palette Red

.red1 {
  background-color: $dark-red;
}
.red2 {
  background-color: $rusty-red;
}
.red3 {
  background-color: $tomato;
}

//Palette Blue

.blue1 {
  background-color: $dark-grey;
}
.blue2 {
  background-color: $light-grey-blue;
}
.blue3 {
  background-color: $pale-grey-two;
}

//Palette Purple

.purple1 {
  background-color: $dark-purple;
}
.purple2 {
  background-color: $mediun-purple;
}
.purple3 {
  background-color: $light-purple;
}

//Palette Orange

.orange1 {
  background-color: $dark-orange;
}
.orange2 {
  background-color: $tomato;
}
.orange3 {
  background-color: $light-orange;
}
