$fontFamily-text: 'Open Sans', sans-serif;
$fontFamily-primary: 'Ubuntu', sans-serif;
$fontFamily-tertiary: 'Montserrat', sans-serif;
$fontFamily-quaternary: "Comic Sans MS", "Chilanka", "Gaegu", sans-serif;
$fontFamily-Merri: 'Merriweather', serif;

$fontFamily-Hand:'Indie Flower', cursive;
$fontFamily-libre:'Libre Baskerville', serif;

$weightBold: 700;
$weightRegular: 400;
$weightSemiBold: 600;

//Color section cardPrevied....and others (I think this is to share)
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$dark-red: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;
$dark-grey: #3e5b65;
$dark-grey-three: #6b6b6b;
$pale-grey-two: #dfe5eb;
$light-grey-blue: #a0c0cf;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$gunmetal: #54585a;
$white: #fff;
$dark-purple:  #4e0e50;
$mediun-purple:  #c90f9a;
$light-purple:  #eb74e5;
$light-orange:#ecb391;
$dark-orange: #b1330a;
$dull-orange:#e17334;
$white-two: #d8d8d8;
$white-three: #f5f5f5;
$grey-clicked: #d5d5d5;
$blue-azure: #00a0f5;